
@media (max-width: 1800px) {
  /* .product-slider .owl-nav .owl-prev {
    left: -172px;
  
  } */
  /* .product-slider .owl-nav .owl-next {
    right: -128px;
  } */
  /* .email-main .swiper-container {
    height: 800px;
  } */
  /* .product-main .owl-item.active.middle-slide img {
    padding: 23px 21px;
  } */
  .product-main .owl-item img {
    padding: 0px 8px;
  }
  .media-hub-text {
    margin-left: 178px;
  }
  .header .logo img {
    max-width: 170px;
  }
  .media-hub-text h1 {
    font-size: 118px;
  }
  }
  
  
  @media (max-width: 1700px) {
  .header_flex .links_bar {
  gap: 60px;
  }
  
  .media-hub-text h1 {
    font-size: 90px;
  }
  .banner-video-text p {
    font-size: 21px;
  }
  .gallery-slider-main .slider.slider-nav button:before {
    width: 48px;
    height: 48px;
  }
  .gallery-slider-main .slider.slider-nav .slick-next {
    right: 34px;
    top: 40%;
  }
  .gallery-slider-main .slider.slider-nav .slick-prev {
    left: 2px;
  }
  .brand-text p {
    font-size: 21px;
  }
  .email-main .swiper-button-next {
    left: 55.6%;
  }
  .banner .banner-radius-img img {
    height:100%;
  }
  
  
  }
  
  
  @media (max-width: 1600px) {
    .header_flex .links_bar {
      gap: 24px;
  }
  .product-slider {
    margin-left: 0;
  }
  .reap-heading p {
    margin-left: -70px;
  }
  }
  
  
  @media (max-width: 1500px) {
    .view-flex {
      margin-top: 66px;
    }
    .banner-video-text p {
      font-size: 18px;
  }
  .email-main .swiper-button-next {
    left: 56.4%;
  }
 
  .gallery-slider-main .slider.slider-for .product-slider-item img {
    height: 500px;
  }
  .brand-text p {
    font-size: 18px;
  }

  .landing-page .media-hub-text h1 {
    width: 100%;
    white-space:normal;
  }
  
  }
  
  @media (max-width: 1400px) {
  .header_flex .links_bar a {
    font-size: 15px;
  }
  .gallery-slider-main .slider-nav .slick-list {
      padding-left: 20px;
      padding-right: 20px;
  }
  .gallery-slider-main .slider.slider-nav .slick-slide.slick-current.slick-active,
  .gallery-slider-main .slider.slider-nav .slick-slidet.slick-active  {
      opacity: 1;
  }
  .gallery-slider-main .slider.slider-nav .slick-slide {
      opacity: 0;
  }
  .gallery-slider-main .slider-nav .slick-list {
      padding-left: 60px;
      padding-right: 60px;
  }
  
  .gallery-slider-main  .slider.slider-nav {
      padding-left: 0;
      padding-right: 0;
  }
  .media-hub-text {
    margin-left: 173px;
  }
  .banner-video-text {
    padding: 0 27px;
  }
  .media-hub-text h1 {
    width: calc(100% + 100px);
  }
  .header_flex .links_bar {
    padding-right: 35px;
  }
  .banner-slider .grid {
  gap: 20px;
  }
  .banner-links a {
    font-size: 15px;
  }
  .banner-links a:before {
  width: 10px;
  height: 10px;
  }
  .banner .banner-radius-img img {
    height:100%;
  }
  
  .email-main .swiper-button-next {
  left: 56.6%;
  }
  .banner-ipad img {
  height: auto;
  }
  .brand-bg-hover h4 {
  font-size: 20px;
  }
  .brand-bg-hover .btn a {
  font-size: 17px;
  }
  .web-page .web-gif {
  padding-left: 21px;
  }
  .web-page .web-heading {
  padding-right: 35px;
  padding-left: 33px;
  }
  .web-page-slide {
  margin-left: 0;
  width: 100%;
  }
  .email-shapes img:last-child {
  width: auto;
  }
  /* .product-main .owl-item.active.middle-slide img {
    padding: 23px 19px;
  } */
  .product-main .owl-item img {
    padding: 0px 11px;
  }
  .short-right img {
    object-fit: cover;
  }
  }
  
  
  
  @media (max-width: 1200px) {
  /* .swiper-container {
  height: 28vw;
  } */
  .fixed-mobile-menu{
    display: block;
  }
  .swiper-slide .content .title {
  font-size: 25px;
  }
  .swiper-slide .content .caption {
  font-size: 12px;
  }
  .banner-ipad {
  display: none;
  }
  .banner-slider .grid {
  grid-template-columns: 3fr  1fr;
  }
  .header_flex .mobile_btn {
  display: flex;
      justify-content: center;
      align-content: center;
  }
  .links_bar .mobile_btn{
    display: block;
  }
  .header .mobile_bar {
  display: flex;
  }
  .btns.desktop{
    display: none;
  }
  .links_bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background: #264975;
  flex-direction: column;
  align-items: start;
  padding: 28px;
  transition: all .3s ease;
  transform: translateX(-800px);
  z-index: 9;
  }
  .links_bar.sidebar{
  transform: translateX(0);
  align-items: start;
  }
  .header .mobile_bar {
    display: flex;
    padding-top: 46px;
    padding-bottom: 49px;
    padding-right: 30px;
    opacity: 0;
    visibility: hidden;
  }
  .landing-page .header .mobile_bar{
    padding-bottom: 48px;
  }
  .landing-page-cards-warp {
    width: 75%;
  }
  .header .mobile_bar i {
    color: #fff;
    font-size: 28px;
  }
  .header_flex .links_bar a {
    font-size: 20px;
  }
  .header_flex .links_bar a {
    color: #ffffff;
  }
  .header_flex .links_bar .droupdown {
    left: 0;
  }
  .brand-text {
    height: 100%;
  }
  .brand-text h3 {
    font-size: 30px;
  }
  .view-flex {
    width: 100%;
  
  }
  .view-flex span {
    font-size: 18px;
  }
  .view-flex a {
    font-size: 18px;
  }
  .brand-slider .owl-nav {
    top: 10px;
    left: -76px;
  }
  .brand-slider .owl-nav button:before {
    width: 45px;
    height: 45px;
  }
  .brand-slider .owl-nav .owl-prev {
    left: -57px;
  }
  .brand-text p {
    font-size: 18px;
  }
  .gridflex .item:last-child {
    width: 60%;
  }
  .gridflex .item:first-child {
    width: 40%;
    border-bottom-right-radius: 30px;
    overflow: hidden;
    border-bottom-left-radius: 30px;
  }
  .product-slider {
    margin-left: 0;
  }
  .reap-heading p {
  padding-left: 0px;
  margin-left: -27px;
  }
  .email-main .swiper-button-next {
    left: 50%;
    transform: translateX(88%);
  }
  .cross-bar{
  display: block;
  }
  .product-main .container {
  margin-left: 37px;
  width: calc(100% - 37px);
  }
  
  
  .primary-btn {
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 600;
  }
  
  .brand-text > img {
    width: 120px;
  }
  .view-flex:before {
    top: -20px;
  }
  .view-flex {
    margin-top: 38px;
  }
  .brand-identity {
    padding: 20px;
  }
  .landing-bg-shape {
    max-width: 76%;
  }
  .landing-page-cards-warp {
    width: 75%;
  }

  }
  
  
  
  
  
  
  
  @media (max-width: 991px) {
  
  .grid-cols-2 {
  grid-template-columns: 1fr;
  }
  .media-hub-text {
  margin-left: 49px;
  }
  .banner-video-text {
  padding: 0 21px;
  }
  

  .brand-text p {
    font-size: 16px;
  }
  .brand {
    padding-left: 0px;
  }
  .brand-text h3 {
    font-size: 24px;
  }
  .brand .item {
      padding-left: 15px;
  }
  
  
  .footer-top .grid-cols-2 {
    grid-template-columns: 1fr 300px;
  }
  .copyright ul {
    justify-content: center;
  }
  .copyright-adress p {
    text-align: center;
  }
  .product-slider .owl-stage-outer {
    padding-top: 40px;
    padding-bottom: 32px;
  }
  .landing-page-cards-warp {
    width: 68%;
  }
  .landing-bg-shape {
    max-width: 70%;
}
  }
  
  
  @media (max-width: 767px) {
    .banner-links {
      height: auto;
  }
  .banner .banner-radius-img {
    height: auto;
  }
  .banner-video-flex {
  display: none;
  }
  .short-right {
  display: none;
  }
  .banner-slider .grid {
  grid-template-columns: 1fr;
  }
  .banner-links-top {
  margin-left: 11px;
  width: calc(100% - 11px);
  }
  .banner-links a {
  font-size: 18px;
  }
  .banner .banner-radius-img img {
    height:100%;
  }
  .media-hub-text h1 {
    width: 100%;
  }
  .media-hub-text h1 {
    font-size: 78px;
  }
  .gridflex .item:first-child {
    width: 100%;
    padding-right: 15px;
  }
  .gridflex .item:last-child {
    width: 100%;
  }
  .gridflex {
    flex-direction: column;
  }
  .brand-slider .owl-nav {
    top: -370px;
    left: unset;
    right: 112px;
  }
  .brand-slider-text > img {
    height: auto!important;
  }
  .brand-identity > img {
    width: 100%;
  }
  
  .web-page-slider-text p {
    font-size: 20px;
  }
  .web-page {
    padding: 69px 10px 15px;
  }
  .date-dwld a img {
    width: 15px!important;
  }
  .date-dwld span {
    font-size: 12px;
  }
  .date-dwld a {
    font-size: 12px;
  
  }
  .view-all {
    padding: 16px 32px;
  }
  .web-heading h3 {
    font-size: 40px;
  }
  /* .product-slider .owl-nav .owl-next {
    right: -117px;
  } */
  .gallery-slider-main .slider-nav .product-slider-item > img {
    height: 344px;
  }
  .footer-top .grid-cols-2 {
    grid-template-columns: 1fr;
    gap: 19px;
  }
  .footer-top-flex {
    max-width: 100%;
  }
  /* .email-main .swiper-container {
    height: 625px;
  } */
  .web-page-slider .owl-item {
    min-height: 442px;
  }
  .gallery-slider-main .slider.slider-for .product-slider-item img {
    height: 448px;
  }
  .email-main .container {
    padding-left: 38px;
    padding-right: 38px;
  }
  .product-main .container {
    padding-right: 37px;
  }
  .view-flex {
    max-width: 100%;
  }
  .product-main .owl-item img {
    padding: 0px 11px;
  }
  /* .product-main .owl-item.active.middle-slide img {
    padding: 23px 7px;
  } */
  .gridflex .item:last-child {
    width: 100%;
  }
  .gridflex .item:last-child {
    width: 100%;
  }
  .product-slider .owl-nav {
    left: 45%;
  }
  .menu-item p {
    font-size: 18px;
}
.fixed-mobile-menu .footer-item p {
  font-size: 14px;
}
.menu-item a {
  gap: 12px;
}
.menu-item a img {
  max-width: 40px;
}
.footer-item img {
  max-width: 30px;
}
.mobile_menu-toggle > a {
  width: 64px;
  height: 64px;
}

.landing-page .media-hub-text h1 {
  max-width: 320px;
}


.landing-page .banner-slider {
  min-height: 400px;
}
.landing-page-cards-warp {
  width: 98%;
}
.landing-page-cards-warp {
  padding-bottom: 116px;
}

.landing-wrap {
  margin-top: 40px;
}

.landing-bg-shape {
  display: none;
}

  }
  @media (max-width: 600px) {
    .product-main .owl-item img {
      padding: 0 10px;
  }
  .product-main  .owl-item {
    min-height: auto !important;
    height: auto;
  }
  .product-main  .owl-item.active.middle-slide {
    min-height: auto !important;
  }
  .middle-slide {
    padding-left: 0;
    padding-right: 0;
  }
  .product-main .owl-item.active.middle-slide img {
    padding: 0 10px;
    transform: unset;
  }
  .web-page-slide .owl-stage-outer {
      padding-left: 0px;
      padding-right: 0px;
  }
  .web-page-slide .owl-stage-outer .owl-stage {
      margin-left: 0;
  }
  .web-page-slider-text {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
  }
  
  }
  
  
  
  @media (max-width: 575px) {
    .media-hub-text {
      margin-left: 22px;
  }
  .product-slider .owl-nav button.owl-next:before {
      left: auto;
      right: 16px;
  }
  .web-page {
      padding: 69px 0px 15px;
  }
  .web-page-slider-text {
      width: 93%;
      margin-left: auto;
      margin-right: auto;
  }
  .reap-heading p {
      font-size: 22px;
  
  }
  .web-page .web-heading {
      padding-right: 20px;
      padding-left: 20px;
  }
  .product-slider .owl-nav button.owl-prev:before {
      left: 15px;
      right: auto;
  }
  .web-heading {
    align-items: baseline;
    flex-direction: column;
    z-index: 2;
    position: relative;
    gap: 22px;
  }
  .web-page-shpes img:first-child {
    z-index: 0;
  }
  
  .email-main .swiper-container {
    max-width: 94%;
  }
  .gallery-slider-main .date-dwld {
    display: none;
  }
  .footer-top-flex {
    flex-direction: column;
    gap: 37px;
  }
  .footer-btn {
  text-align: center;
  margin-top: 18px;
  }
  .brand-bg-hover h4 {
  font-size: 18px;
  }
  .brand-bg-hover .btn a {
  padding: 24px 34px;
  font-size: 15px;
  }
  .view-all {
    padding: 16px 23px;
    font-size: 13px;
  }
  .product-slider {
    margin-left: 0;
  }
  .product-main .container {
    width: calc(100% - 13px);
    margin-left: 13px;
  }
  
  .brand-slider .owl-nav {
    top: -400px;
  }
  .email-main .image-container {
    padding: 0 15px;
  }
  .landing-wrap .grid {
    grid-gap: 24px;
    grid-template-columns:100%;
  }
  .banner .breadcrumb li {
    font-size: 14px;
  }
  .landing-page-cards-warp {
    padding-bottom: 66px;
  }
  }
  
  
  @media (max-width: 480px) {
  .media-hub-text h1 {
    font-size: 63px;
  }
  .brand-slider .owl-nav {
    right: 75px;
    top: -410px;
  }
  .links_bar {
  width: 80%;
  }
  .product-slider .owl-nav {
    max-width: 320px;
  }
  .menu-item p {
    font-size: 12px;
}
.menu-item a {
  gap:6px;
}
.fixed-mobile-menu .footer-item p {
  font-size: 10px;
}
.menu-item a img {
  max-width: 23px;
}
.footer-item img {
  max-width: 18px;
}
.mobile_footer-nav {
  padding: 14px 12px;
}
.mobile_menu {
  padding-bottom: 130px;
}
.mobile_menu .menu-header h2 {
  font-size: 22px;
}
.view-all-btn {
  font-size: 12px;
}

.landing-page .banner-slider {
  min-height:340px;
}
  }
  
  @media (max-width: 440px) {
    .header .shapes img {
      left: 120px;
      width: 90px;
      top: 0px;
      height: 81px;
  }
  .header .shapes {
  max-width: 250px;
  }
  .header .logo img {
  width: 130px;
  }
  .header .mobile_bar {
  padding-top: 32px;
  padding-bottom: 21px;
  padding-right: 28px;
  }
  .primary-btn {
  padding: 17px 27px;
  font-size: 16px;
  }
  .media-hub-text h1 {
    font-size: 50px;
  }
  .mobile_menu-toggle > a {
    width: 54px;
    height: 54px;
}
.mobile_footer-nav {
  padding: 14px 8px;
}

.landing-page .header .mobile_bar {
  padding-bottom: 20px;
}
  }