
@media (max-width: 1700px) {
.header_flex .links_bar {
gap: 44px;
}
.banner-ipad img {
  height: auto;
}
.media-hub-text h1 {
  font-size: 90px;
}
.banner-video-text p {
  font-size: 21px;
}
}


@media (max-width: 1180px) {
  .swiper-container {
    height: 28vw;
  }

  .swiper-slide .content .title {
    font-size: 25px;
  }
  .swiper-slide .content .caption {
    font-size: 12px;
  }
}
@media (max-width: 1023px) {
  .swiper-container {
    height: 40vw;
  }
  .swiper-container.swiper-container-coverflow {
    padding-top: 0;
  }
}


@media (max-width: 991px) {
.header_flex .mobile_btn {
display: flex;
    justify-content: center;
    align-content: center;
}
.links_bar .mobile_btn{
  display: block;
}
.header .mobile_bar {
display: flex;
}
.btns.desktop{
  display: none;
}
.links_bar {
position: fixed;
top: 0;
left: 0;
width: 60%;
height: 100%;
background: red;
flex-direction: column;
align-items: start;
padding: 28px;
transition: all .3s ease;
transform: translateX(-800px);
}
.links_bar.sidebar{
transform: translateX(0);
}
.grid-cols-2 {
  grid-template-columns: 1fr;
  }
}