@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
box-sizing: border-box;
padding: 0;
margin: 0;
font-family: Gilroy;
}

:root {
--white:#fff;
--blue:#4183F2;
--darkblue: #001A44;
--mix-blue:#020F23;
}



html {
scroll-behavior: smooth;
}

ul {
list-style-type: none;
padding: 0;
margin: 0;
}

a {
text-decoration: none;
display: inline-block;
color: inherit;
}

a:hover {
color: inherit;
}

img,
video {
max-width: 100%;
}

span {
display: inline-block;
}
summary {
list-style-type: none;
}

figure{
margin:0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;
}

p{
color: var(--white);
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 160%;
margin: 0;
}
.container {
width: 100%;
max-width: 1701px;
margin: 0 auto;
padding: 0 15px;
}

.grid {
display: grid;
}
.grid-cols-1{
grid-template-columns: 1fr ;
}
.grid-cols-2 {
grid-template-columns: 1fr 1fr;
}

.grid-cols-3 {
grid-template-columns: 1fr 1fr 1fr;
}

.grid-cols-4 {
grid-template-columns: repeat(4, 1fr);
}

.grid-cols-5 {
grid-template-columns: repeat(5, 1fr);
}

.grid-cols-6 {
grid-template-columns: repeat(6, 1fr);
}

.item {
width: 100%;
}
.primary-btn:hover:before {
width: 100%;
}
.primary-btn:hover{
color:#fff;
}

.primary-btn:before {
content: "";
position: absolute;
top: 0;
left: 0;
background: #1b4384;
width: 0;
height: 100%;
transition: all .3s ease;
border-radius: 12px;
z-index: -1;
}


/*--header--*/
.header_flex .links_bar li.cross-bar {
    position: absolute;
    right: 18px;
    top: 10px;
    }
    
    .header_flex .links_bar li.cross-bar i {
    font-size: 22px;
    color: #fff;
    }
.cross-bar{
display: none;
}
.header_flex {
display: flex;
justify-content: space-between;
align-content: center;
background: var( --blue);
border-top-right-radius: 20px;
}
.header_flex .links_bar {
display: flex;
align-items: center;
gap: 72px;
padding-top: 50px;
padding-bottom: 49px;
padding-right: 80px;
}
.header_flex .btns {
display: flex;
align-items: center;
gap: 28px;
}

.header_flex .mobile_btn {
display: none;
}
.links_bar .mobile_btn{
display: none;
}

.header .mobile_bar {
display: none;
align-content: center;
}



/*--droupdown--*/

.header_flex .links_bar .droupdown {
position: absolute;
top: 32px;
background: #ffffff;
width: 216px;
border-radius: 6px;
z-index: 4;
text-align: center;
padding: 20px;
transform: translateY(-20px);
transition: all .3s ease;
opacity: 0;
visibility: hidden;
left: -68px;
}
.header_flex .links_bar li {
position: relative;
}
.header_flex .links_bar li:hover ul {
opacity: 1;
visibility: visible;
transform: translateY(0);
}
/*--droupdown end--*/
.header {
margin-top: 10px;
position: relative;
}

.header .container {
max-width: 100%;
}

.header_flex .links_bar a {
color: var(--white);
text-align: center;
font-family: Gilroy;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 120%;
transition: all .3s ease;
}
.shapes {
position: absolute;
}
.header .logo {
position: relative;
z-index: 2;
background: #fff;
display: flex;
align-items: center;
}
.header .shapes img {
left: 170px;
position: absolute;
top: 0;
}
.header .logo img {
padding-left: 24px;
}
.header .shapes {
position: absolute;
z-index: 1;
width: 100%;
max-width: 250px;
}



/*--banner--*/
.banner .banner-slider {
background: var(--blue);
position: relative;
margin-top: -1px;
z-index: 3;
border-top-left-radius: 30px;
border-bottom-left-radius: 30px;
}
.banner .container {
max-width: 100%;
}

.banner-slider .grid {
grid-template-columns: 3fr 2.3fr 1fr;
gap: 40px;
padding-top: 50px;
position: relative;
}

.media-hub-text {
margin-left: 198px;
margin-top: 13px;
}

.media-hub-text h4 {
color: var(--white);
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 160%;
}

.media-hub-text h1 {
color: var(--white);
font-size: 124px;
font-style: normal;
font-weight: 800;
line-height: 100%;
white-space: nowrap;
}

.media-hub-text .btn {
margin-top: 50px;
}

.primary-btn {
display: inline-flex;
padding: 24px 44px;
border-radius: 12px;
background: var(--white);
color: var(--darkblue);
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 140%; 
text-transform: uppercase;
position: relative;
z-index: 1;
}

.banner-links {
background: var(--white);
padding: 70px 30px;
border-top-left-radius: 42px;
border-bottom-left-radius: 42px;
position: relative;
height: 55%;
}

.banner-links a {
color: var(--darkblue);
font-size: 20px;
font-style: normal;
line-height: 160%;
font-weight: 600;
display: block;
position: relative;
transition: all .3s ease;
}
.banner-links a:hover {
    padding-left: 8px;
    color: #e9c091;
}
.banner-links li {
padding-bottom: 24px;
}

.banner-links li:last-child {
padding-bottom: 0;
}

.banner-links a:before {
content: "";
position: absolute;
top: 50%;
right: 0;
background: url(../img/banner-tick.svg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
width: 14px;
height: 14px;
transform: translateY(-50%);
}

.banner-video {
background: #1B4384;
border-radius: 44px;
padding: 52px 28px 62px;
position: relative;
overflow: hidden;
}
.banner-video-flex {
display: grid;
grid-template-columns: 1fr 1fr;
margin-top: 78px;
}
.banner-video-bg {
    background: #fff;
    padding: 20px 20px 0 0;
    border-top-right-radius: 44px;
    position: relative;
}

.banner-video-bg .heading {
display: flex;
justify-content: space-between;
gap: 10px;
align-items: center;
margin-bottom: 32px;
}
.banner-video-bg .heading img {
width: 26px;
}
.banner-video-bg .heading h3 {
color: var(--white);
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 100%;
text-transform: uppercase;
}

.banner-video-text {
padding: 0 46px;
position: relative;
}
.banner-ipad img {
height: 100%;
position: absolute;
bottom: 0;
object-fit: cover;
opacity: 0;
}

.banner-links-top {
position: relative;
}
.banner-ipad {
    position: relative;
    background-image: url("../img/iPad-Air-new.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
}
.banner-links-top {
position: relative;
}

.short-right {
    background: #fff;
    padding: 20px 0px 0 20px;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 44px;
    width: 100%;
    height: 30%;
}

.short-right img {
border-radius: 44px;
width: 100%;
}
.banner-video img {
width: 100%;
}

.media-hub {
position: relative;
}

.banner-slide-bar {
position: absolute;
top: 103px;
left: 0;
width: 100%;
z-index: -1;
opacity: 0.5;
}

.banner-video-bg:before {
content: "";
position: absolute;
top: -68px;
left: 0px;
background: url(../img/first-shpe.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
width: 100%;
height: 100%;
max-width: 133px;
max-height: 68px;
}


.banner-links:before {
content: "";
position: absolute;
top: -59px;
right: 0px;
background: url(../img/second-shpe.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
width: 100%;
height: 100%;
max-width: 86px;
max-height: 60px;
}

.short-right:before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: -38px;
    background: url(../img/sky.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    max-width: 38px;
    max-height: 48px;
}


.header_flex .links_bar .droupdown a {
color: #000;
text-transform: capitalize;
font-size: 18px;
}

.header_flex .links_bar a:before {
content: "";
position: absolute;
bottom: -4px;
left: 0;
width: 0;
background: #ffffff;
height: 2px;
transition: all .3s ease;
}

.header_flex .links_bar li:hover a:before {
width: 100%;
}



/*--footer--*/
.footer{
background: var(--mix-blue);
padding: 93px 10px 82px;
}

.footer .container {
    max-width: 1600px;
}

.footer-top-flex {
display: flex;
justify-content: space-between;
gap: 10px;
max-width: 527px;
align-items: center;
}


.footer-icon ul {
display: flex;
gap: 24px;
}

.footer-icon ul i {
font-size: 24px;
color: #fff;
}

.footer-icon ul a img {
width: 24px;
}

.footer-btn a {
    border-radius: 124.065px;
    background: var(--blue);
    padding: 12px 24px 12px 18px;
    color: var(--white);
    text-align: center;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
}

.footer-btn a img {
margin-right: 12px;
}
.footer-btn {
text-align: end;
}

.copyright ul {
display: flex;
gap: 20px;
flex-wrap: wrap;
}

.copyright ul a{
color: var(--white);
font-size: 16.008px;
font-style: normal;
font-weight: 400;
line-height: 150%;
opacity:0.5;
position:relative;
text-align: center;
}


.copyright ul a:before {
content: "";
position: absolute;
top: 50%;
right: -12px;
height: 71%;
width: 2px;
background: #ffffff;
transform: translateY(-50%);
}
.footer-bottom{
margin-top: 60px;
}

.copyright-adress p {
color: var(--white);
font-size: 16.008px;
font-style: normal;
font-weight: 400;
line-height: 150%;
opacity: 0.5;
text-align: right;
}
.copyright ul li:last-child a:before {
display: none;
}

.footer-bottom .grid {
gap: 15px;
}

/* brand */
.brand-identity {
    position: relative;
    padding-top: 20px;
    height: 100%;
    width: 100%;
    padding: 36px;
}
.brand-text {
    width: 100%;
    padding-right: 0;
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.brand-text > img {
    width: 170px;
    position: relative;
    top: 37px;
    left: -18px;
}
.brand .grid {
grid-template-columns: 634px 1fr;
width: 100%;
gap: 12px;
}

.brand-text p {
    max-width: 551px;
    font-size: 22px;
}

.brand-text h3 {
color: var(--white);
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 100%;
text-transform: uppercase;
margin: 32px 0 20px;
}

.view-flex {
    margin-top: 66px;
    display: flex;
    justify-content: space-between;
    max-width: 553px;
    position: relative;
    align-items: center;
}

.view-flex:before {
content: "";
position: absolute;
top: -32px;
left: 0;
width: 100%;
height: 2px;
opacity: 0.2;
background: var(--white);
}

.view-flex span {
color: var(--white);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 160%;
opacity: 0.5;
}

.view-flex a {
color: var(--white);
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 28px */
text-transform: uppercase;
}
.brand {
    padding-left: 52px;
    margin-top: 52px;
    overflow: hidden;
    margin-bottom: 92px;
    padding-top: 46px;
}
.gridflex {
display: flex;
gap: 12px;
position: relative;
padding-bottom: 101px;
}

.gridflex .item:first-child {
width: 35%;
}

.gridflex .item:last-child {
width: 65%;
}

.brand-slider-text > img {
    /* height: 475px!important; */
    max-width: 100%;
    border-radius: 44px;
    height: 100%;
    object-fit: cover;
}

.brand-slider-text {
    position: relative;
    overflow: hidden;
    border-radius: 47px;
    margin: 0 auto;
    height: 100%;
}

.brand-bg-hover {
    position: absolute;
    top: 586px;
    left: 0;
    width: 100%;
    border-radius: 47px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(38 85 162);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}

.hover-layer {
position: absolute;
top: 0;
left: 5px;
}

.brand-bg-hover .btn a {
border-radius: 12px;
border: 2px solid var(--white);
padding: 32px 44px;
color: var(--white);
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 140%;
text-transform: uppercase;
margin: 52px 0;
display: flex;
gap: 12px;
align-items: center;
}

.brand-bg-hover h4 {
color: var(--white);
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 160%;
}

.brand-bg-hover .btn a img {
width: 24px;
object-fit: contain;
}


.date-flex span {
color: var(--white);
font-size: 16px;
font-style: normal;
font-weight: 600;
}

.date-flex span:nth-child(2) {
margin: 0 20px;
}

.brand-slider-text:hover .brand-bg-hover {top: 0;visibility: visible;opacity: 1;}
.hover-logo {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 0;
filter: blur(4px);
opacity: 0.4;
}
.brand-bg-hover .btn {
position: relative;
z-index: 2;
}
.brand-identity > img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.brand-slider {
position: relative;
}

.brand-slider .owl-nav {
position: absolute;
top: 10px;
left: -106px;
}

.brand-slider .owl-nav button {
position: relative;
}

.brand-slider .owl-nav button:before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 74px;
height: 74px;
transition: all .3s ease;
}
.brand-slider .owl-nav button:hover:before {
    transform: translateY(-10px);
}

.brand-slider .owl-nav button.owl-prev:before {

background: url("../img/slider-right.svg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.brand-slider .owl-nav button.owl-next:before {
    background: url("../img/slide-left.svg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.brand-slider .owl-nav .owl-prev {
position: absolute;
left: -92px;
}
.brand-slider .owl-nav button span {
opacity: 0;
}
.brand-slider .owl-stage-outer {
padding-top: 20px;
/* padding-bottom: 101px; */
}
.brand-slider-text{
transition: all .3s ease;
}
.brand-slider-text:hover {
    transform: translateY(-20px);
    box-shadow: #00000026 0px 50px 100px -20px, rgb(1 0 0) -1px 32px 64px -31px;
}

.gridflex:after {
content: "";
position: absolute;
bottom: 0;
width: 100%;
left: 0;
opacity: 0.15;
background: #000;
height: 1px;
max-width: 96%;
}

.brand-slider.owl-carousel.owl-loaded.owl-drag {
    height: 100%;
}

.brand-slider.owl-carousel.owl-loaded.owl-drag .owl-stage-outer {
    height: 100%;
    overflow: visible;
    overflow-x: clip;
}

.brand-slider.owl-carousel.owl-loaded.owl-drag .owl-stage {
    height: 100%;
}

.brand-slider.owl-carousel.owl-loaded.owl-drag .owl-stage .owl-item {
    height: 100%;
}
/* web-page */

.web-page {
background: #264975;
padding: 69px 10px 140px;
position: relative;
}
.web-gif img {
width: 110px;
}

.web-heading h3 {
color: #FFF;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 48px */
text-transform: uppercase;
}

.web-heading {
display: flex;
justify-content: space-between;
gap: 10px;
align-items: center;
margin-top: -25px;
}



.view-all {
    padding: 10px 30px;
    border-radius: 250px;
    border: 2px solid #FFF;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    overflow: hidden;
}
.web-page .container {
max-width: 1520px;
}
.web-page-slider-text p {
font-weight: 700;
font-family: "Montserrat", sans-serif;
margin-top: 24px;
padding-left: 13px;
position: relative;
top: 0;
}



.date-dwld {
display: flex;
gap: 24px;
padding-left: 15px;
opacity: 0;
transition: all .3s ease;
}
.web-page-slider-text:hover .date-dwld {
opacity: 1;
}


.date-dwld span {
color: var(--white);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 25.6px */
letter-spacing: -0.48px;
position: relative;
}

.date-dwld a {
color: var(--white);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 25.6px */
letter-spacing: -0.48px;
display: flex;
align-items: center;
z-index: 2;
position: relative;
}

.date-dwld a img {
width: 18px!important;
object-fit: cover;
margin-right: 6px;
height: auto;
}

.date-dwld span:nth-child(2):before {
content: "";
position: absolute;
top: 50%;
left: -14px;
width: 5px;
height: 5px;
border-radius: 50px;
background: #ffffff;
transform: translateY(-50%);
}
.date-dwld span:nth-child(2):after {
content: "";
position: absolute;
top: 50%;
right: -14px;
width: 5px;
height: 5px;
border-radius: 50px;
background: #ffffff;
transform: translateY(-50%);
}

.web-page-slide {
margin-top: 35px;
}
.web-page-slider-text > img {
    border-radius: 44px;
    padding: 8px;
    transition: all .3s ease;
    height:auto;
    object-fit: cover;
    z-index: -1;
    position: relative;
}
.web-page-slider-text {
position: relative;
}
.web-page-slider-text:hover:before {
    width: 100%;
    height: calc(100% + 48px);
    width: calc(100% + 43px);
    left: -22px;
    box-shadow: 0px 20px 15px 5px #00000021;
}

.web-page-slider-text:before {
content: "";
position: absolute;
top: -22px;
left: 0px;
width: 0;
height: 0;
border-radius: 34px;
background: #4485F1;
transition: all .3s ease;
z-index: 0;
}

.web-page-slider .owl-item {
min-height: 507px;
}
.web-page-slide .owl-stage-outer {
    padding-bottom: 26px;
    padding-top: 11px;
}

.web-page-slider-text:after {
    content: "";
    position: absolute;
    top: -75px;
    left: -17px;
    width: 96%;
    height: 100%;
    background: url("../img/web-layer-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
    border-top-left-radius: 43px;
}
.web-page-slider-text:hover:after{
opacity: 1;
visibility: visible; 
}
.web-page-slider-text:hover > img {
    margin-top: 12px;
    z-index: 2;
}
.web-page-slider .owl-item:hover {
    z-index: 1;
}
.web-page-slider .owl-item {
    z-index: -1;
    position: relative;
}
.web-page-shpes img {
position: absolute;
}

.web-page-shpes img:first-child {
top: 0;
width: 416px;
height: 510px;
left: 0;
}

.web-page-shpes img:last-child {
width: 302px;
height: 301px;
bottom: 0;
right: 0;
}

.presentation .gridflex {
padding-top: 70px;
}
.presentation  .gridflex:before {
content: "";
position: absolute;
top: 0;
width: 100%;
left: 0;
opacity: 0.15;
background: #000;
height: 1px;
max-width: 96%;
}





/* Progress Bar Styles */
.product-main .progress-bar {
    position: relative;
    width: 100%;
    height: 8px;
    background-color: var(--white);
    max-width: 195px;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    top: 99px;
    left: -35px;
}

.product-main .progress-bar-fill {
    width: 0;
    height: 100%;
    background-color: #0A6CFD;
    transition: width 0.4s ease;
    border-radius: 10px;
}

/* product-main */
.product-main{
background: url(../img/product-bnr.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
padding: 61px 0px 232px 15px;
position: relative;
}
.product-main .web-heading h3 {
color: #000000;
}
.product-main  .view-all {
border: 2px solid #011023;
color: #011023;
}

.product-main .owl-carousel .item {
    transition: transform 0.4s ease, opacity 0.4s ease;
    transform: scale(0.92);
}

.product-main  .owl-item.active.middle-slide {
transition: all .3s ease;
/* min-height: 554px !important; */
}

.product-main  .owl-item.active.middle-slide img {
/* min-height: 575px; */
transition: all .3s ease;
}
.product-slider .owl-nav button:before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 36px;
height: 36px;
z-index: 3;
transition: all .3s ease;
}
.product-slider .owl-nav button:hover:before {
    transform: translateY(-5px);
}

.product-slider .owl-nav button.owl-prev:before {
	background: url("../img/product-arrow-2.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.product-slider .owl-nav button.owl-next:before {
	background: url("../img/product-arrow.svg");
	background-repeat: no-repeat;
	background-size: cover;
background-position: center;
}

.product-slider .owl-nav {
position: absolute;
bottom: -35px;
left: 48%;
transform: translateX(-50%);
}

.product-slider {
    position: relative;
    margin-top: 36px;
    margin-left: 102px;
}

.product-slider .owl-nav .owl-prev {
    position: absolute;
    left: -166px;
}

.product-slider .owl-nav .owl-next {
    position: absolute;
    right: -138px;
}

.reap-heading {
text-align: center;
margin-top: 28px;
}

.reap-heading p {
color: var(--White, #FFF);
font-family: Montserrat;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 160%; 
letter-spacing: -0.84px;
padding-left: 31px;
}
.product-slider .owl-nav button span{
opacity: 0;
}
.product-slider .owl-nav button:hover{
background-color: transparent!important;
}

.product-main .shape-bar img:first-child {
position: absolute;
top: 0;
left: 0;
}
.product-main .shape-bar img:last-child {
    left: 47%;
    position: absolute;
    bottom: 124px;
    transform: translateX(-50%);
}




/* video */
.video .brand-slider-text {
    box-shadow: #00000000 0px 50px 100px -20px, rgb(61 57 57 / 90%) -8px 15px 60px -30px;
}

.video .brand-text > img {
left: -50px;
}

.banner .banner-radius-img {
text-align: right;
height: 15%;
}

.banner .banner-radius-img img {
height:100%;
}
.video .brand-slider-text:hover {
box-shadow: #00000026 0px 50px 100px -20px, rgb(1 0 0) -1px 32px 64px -31px;
}


/* gallery */
.gallery-slider-main .product-slider-item img {
width: 100%;
object-fit: cover;
border-radius: 35px
}

.gallery-slider-main  .product-slider-item {
margin-top: 32px;
position: relative;
}

.gallery-slider-main .product-slider-item figure {
    outline: 1px solid #ffffff38;
    outline-offset: 0px;
    border-radius: 12px;
}

.gallery-slider-main .product-slider-item:hover figure {
    opacity: 1;
    outline-color: #ffffff38;
}
.gallery-slider-main .slider.slider-for .product-slider-item img {
height: 731px;
border-radius: 40px;
}
.gallery-slider-main  .product-slider-item {
margin-top: 32px;
padding: 0 8px;
}
.gallery-slider-main .container {
max-width: 1607px;
}
.gallery-slider-main .product-slider {
margin-left: 0px;
margin-top: 0;
}


.gallery-slider-main .web-heading {
    margin-top: 0;
    margin-bottom: 2px;
}
.gallery-slider-main .web-heading h3 {
color: #001A44;
}
.gallery-slider-main .view-all {
border: 2px solid #061D3F;
color: #061D3F;
overflow: hidden;
}

.gallery-slider-main .slider-nav .product-slider-item p {
    color:  #061D3F;
    font-family: Montserrat;
    font-size: 18.807px;
    font-style: normal;
    font-weight: 700;
line-height: 160%;
letter-spacing: -0.564px;
margin-top: 18px;
}

.gallery-slider-main .slider-nav .product-slider-item:before {
content: "";
position: absolute;
top: -22px;
left: 0px;
width: 0;
height: 0;
border-radius: 34px;
background: #4485F1;
transition: all .3s ease;
z-index: -1;
}

.gallery-slider-main .slider-nav .product-slider-item:hover:before {
    width: 100%;
    height: calc(100% + 48px);
    box-shadow: #00000026 0px 50px 100px -20px, rgb(18 12 12) 0px 24px 64px -31px;
}
.gallery-slider-main .slider-nav .product-slider-item:after {
    content: "";
    position: absolute;
    top: -24px;
    left: 13px;
    width: 96%;
    height: 100%;
    background: url("../img/web-layer-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
}
.gallery-slider-main .slider-nav .product-slider-item:hover .date-dwld {
opacity: 1;
}
.gallery-slider-main .slider-nav .product-slider-item:hover:after {
opacity: 1;
visibility: visible;
}

.gallery-slider-main .slider-nav .slick-list {
    padding-bottom: 110px;
}
.gallery-slider-main .slider-nav .product-slider-item:hover p {
    color: #fff;
    padding-left: 11px;
}
.gallery-slider-main  .slider.slider-nav {
    padding-left: 53px;
    padding-right: 62px;
}

.gallery-slider-main .slider.slider-nav button.slick-prev:before {
background: url("../img/slider-right.svg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.gallery-slider-main .slider.slider-nav button:before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 74px;
height: 74px;
}

.gallery-slider-main .slider.slider-nav button.slick-next:before {
background: url("../img/slide-left.svg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.gallery-slider-main .slider.slider-nav .slick-prev {
left: -40px;
top: 39%;
}
.gallery-slider-main .slider.slider-nav .slick-next {
right: 23px;
top: 40%;
}
.gallery-slider-main .slider-nav .product-slider-item:after {
top: -38px;
}
.gallery-slider-main .slider-nav .product-slider-item > img {
height: 272px;
}
.gallery-slider-main .slider-nav .date-dwld span {
font-size: 12px;
}
.gallery-slider-main .slider-nav .date-dwld a {
font-size: 12px;
}


/* email-main */
.email-main {
    background-color: var(--blue);
    position: relative;
    padding-bottom: 54px;
    overflow: hidden;
}


.email-main .swiper-container {
    width: 100%;
    /* height: 859px; */
    transition: opacity 0.6s ease;
    padding-bottom: 100px !important;
}
.email-main .swiper-container.swiper-container-coverflow {
    padding: 1% 0;
    overflow-y: visible;
    overflow-x: clip;
    margin-top: 80px;
    max-width: 1920px;
}
  .email-main .swiper-container.loading {
    opacity: 0;
    visibility: hidden;
  }
  /* .email-main  .swiper-container:hover .swiper-button-prev,
  .email-main  .swiper-container:hover .swiper-button-next {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  } */
  
  .email-main .swiper-slide {
    background-position: center;
    background-repeat: no-repeat;
}
.email-main .swiper-slide .swiper-item {
    border-radius: 44px;
}
.email-main .swiper-slide .swiper-item img {
    border-radius: inherit;
}
  /* .email-main .swiper-slide .entity-img {
    display: none;
  } */
  .email-main .image-container {
    border-radius: 44px;
}
.email-main .image-container img{
    width: 100%;
    border-radius: inherit;
}
  .email-main .swiper-slide .content {
    position: absolute;
    top: 40%;
    left: 0;
    width: 66%;
    padding-left: 5%;
    color: #fff;
  }
  .email-main .swiper-slide .content .title {
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .email-main .swiper-slide .content .caption {
    display: block;
    font-size: 12px;
    line-height: 1.4;
  }
  
  .email-main [class^=swiper-button-] {
    width: 44px;
  }
  
  .email-main .swiper-button-prev {
    top: unset;
    bottom: 30px;
    left: 50%;
    transform: translateX(-169%);
    background: url(../img/product-arrow-2.svg);
    background-repeat: no-repeat;
}
.email-main .swiper-button-next {
    transform: translateX(-50px);
    top: unset;
    bottom: 30px;
    right: unset;
    background: url(../img/product-arrow.svg);
    background-repeat: no-repeat;
    left: 55%;
}
  
  .email-main .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 9px;
    position: relative;
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 0.4;
    display: none;
  }
  .email-main .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    transform: translate(-50%, -50%);
    border: 0px solid #fff;
    border-radius: 50%;
  }
  .email-main .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:hover, .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
  }
  .email-main .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    border-width: 1px;
  }
  


  .email-main .web-heading {
margin-bottom: 36px;
margin-top: 11px;
}
.eyes {
    text-align: center;
    margin-top: -19px;
}

.email-shapes img:first-child {
top: 56px;
left: 44px;
}
.email-shapes img {
position: absolute;
}
.email-shapes img:last-child {
    top: 0;
    left: 19%;
    height: 82%;
    width: 59%;
}
.gallery-slider-main {
margin-top: 90px;
position: relative;
}
.gallery-slider-main:before {
content: "";
position: absolute;
top: 0;
width: 100%;
left: 0;
opacity: 0.15;
background: #000;
height: 1px;
max-width: 96%;
margin: 0 auto;
right: 0;
}
.gallery-slider-main .web-heading {
    padding-top: 96px;
    padding-left: 11px;
    padding-right: 12px;
}
.view-all{
position: relative;
transition: all .3s ease;
z-index: 1;
}
.view-all:before {
content: "";
position: absolute;
top: 0;
left: 0;
background: #4183f2;
width: 0;
height: 100%;
transition: all .3s ease;
border-radius: 250px;
z-index: -1;
}

.view-all:hover:before{
width: 100%;  
}
.view-all:hover{
border-color:#ffffff;
color:#fff;
}

.shapes-take img {
    position: absolute;
    left: -7px;
    bottom: 0px;
    z-index: -1;
}

.banner-video:before {
content: "";
position: absolute;
top: 0px;
left: -27px;
width: 96%;
height: 100%;
background: url(../img/banner-video-l.png);
background-size: contain;
background-repeat: no-repeat;
background-position: center;
transition: all .3s ease;
}

.gallery-slider-main .slick-dots {
display: none!important;
}


.email-main .swiper-slide-shadow-left {
display: none;
}

.email-main .swiper-slide-shadow-right {
display: none;
}

.email-main .view-all:hover {
border-color: #4183f2;
}
.email-main .view-all:before {
background: #061D3F;
}
.web-page .view-all:hover {
border-color: #264975;
}

.product-main  .owl-item {
display: flex;
justify-content: center;
align-items: center;
/* min-height: 577px !important; */
}
.product-main .owl-item img {
padding: 15px 0; 
/* height: 500px; */
/* padding: 0px 6px; */
border-radius: 44px;
}
.product-main .owl-item.active.middle-slide {
    transition: all .3s ease;
    padding: 0;
    /* min-height: 573px !important; */
    z-index: 1;
}
.product-main .owl-item.active.middle-slide .item {
    transform: scale(0.98);
}
.product-slider .owl-stage-outer {
    overflow: visible;
    overflow-x: clip;
}

.footer-btn a:before {
content: "";
position: absolute;
top: 0;
left: 0;
background: #ffffff;
width: 0;
height: 100%;
transition: all .3s ease;
border-radius: 250px;
z-index: -1;
}

.footer-btn a:hover:before {
width: 100%;
}

.footer-btn a:hover {
color: #000;
}

.footer-btn a:hover img {
filter: brightness(0) invert(1);
z-index: 1;
position: relative;
filter: brightness(0%);
}


.web-page-slider .owl-item {
transition: padding 0.3s ease; /* Smooth transition for padding changes */
}

.email-main .web-gif img {
margin-left: -31px;
}
.email-main  .web-gif {
    margin-top: 64px;
}


.web-page-slide {
margin-top: 35px;
width: calc(100% + 19px);
margin-left: -20px;
}

.web-page .web-heading {
padding-right: 35px;
}

.product-main .container {
max-width: 100%;
padding: 0;
margin-left: 102px;
width: calc(100% - 102px);
padding-right: 137px;
}
.email-main .container {
max-width: 1920px;
padding-left: 110px;
padding-right: 142px;
}
.copyright ul li span {
    padding: 0 6px 0 0;
}

.product-main .owl-item.active.middle-slide img {
transform: scale(1);
/* height: 500px; */
}

.middle-slide {
padding-left: 20px;  /* Add left padding */
padding-right: 19px; /* Add right padding */
transition: all 0.3s ease; /* Optional: smooth transition for padding */
}